body { 
    background-color: #d1e6fc;
}

#container {
    margin: auto;
    position: relative; 
    width: 100%; 
    height: 300px;
}

#mobile-dropdown {
    display: none;
}

.bar-chart {
    background-color: #C7D9D9;
}

.display-4 {
    font-size: 2.5rem;
    font-weight: 300;
    line-height: 1.2;
}

.jumbotron {
    padding: 1rem 0rem;
    background-color: #b8d6f4;
    margin-bottom: 0;
}

@media only screen and (max-width: 480px) {
    #mobile-dropdown {  display: flex; }

}

.bar:hover {
    fill: brown;
  }

.site-title {
    color: #fff;
    font-family: 'K2D', sans-serif;
    font-weight: 700;
}